<html>
<head>
  <title>Алгоритм банкира</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.css" rel="stylesheet" media="screen">
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <link href="/css/style.css" rel="stylesheet">
</head>
<body>

<div class="container-narrow">

  <div class="masthead">
    <ul class="nav nav-pills pull-right">
      <li class="active"><a href="/">Главная</a></li>

    </ul>
    <h3 class="muted">Пятницкий Семен</h3>
  </div>
  <h2>Матрица</h2>
  <div>
    <p>Процессы: <%= params[:process] %></p>
    <p>Ресурсы: <%= params[:resurs] %> <span> <%=  @resurs_array %></span></p>


    <form action="/check" method="post">
      <input type="hidden" name="process" value="<%= params[:process] %>"/>
      <input type="hidden" name="resurs" value="<%= params[:resurs] %>"/>

      <% @resurs_array.each do |rr| %>

              <input type="hidden" name="resurs_a[]" value='<%=rr%>'/>
          <% end%>



      <% (0..params[:process].to_i-1).each do |p| %>
          <h4>Процесс P<%=p%>:</h4>
          <% (0..params[:resurs].to_i-1).each do |r| %>
          <div class="form-group">
            <div class="row">
              <div class="col-md-1"><label>R<%= r  %></label></div>
              <div class="col-md-2"><label>Выделено</label></div>
              <div class="col-md-3"> <input name="process_array[<%=p.to_i%>][0][<%=r.to_i%>]" type="text" class="form-control input-sm" placeholder="Кол-во"></div>
              <div class="col-md-2"><label>Необходимо</label></div>
              <div class="col-md-3"> <input name="process_array[<%=p.to_i%>][1][<%=r.to_i%>]" type="text" class="form-control input-sm" placeholder="Кол-во"></div>
            </div>
          </div>
          <% %>
          <% end %>
      <% end %>




      <button type="submit" class="btn btn-default">Проверить</button>
    </form>

  <hr>

  <div class="footer">
    <p>Пятницкий С.К. 2017</p>
  </div>

</div> <!-- /container -->

</div>
</body>

</html>
